<h3>User Show Page</h3>

<h4>User name: <%=@user.username%></h4>

<h5>Your Flights</h5>
<ul>
  <%@user.flight_records.each do |flight| %>
    <li>Date: <%=flight.date%>, Aircraft: <%=flight.aircraft_type%></li>
  <%end%>
</ul>
