<h2>Home Page for: <%=@user.username%> </h2>

<a href="/flight_records/new">Log a new flight</a>

<h4>Previous Flights</h4>
<ul>
  <%@user.flight_records.each do |flight| %>
    <li>Date: <%=flight.date%>, Aircraft: <%=flight.aircraft_type%><a href="/flight_records/<%=flight.id%>"> Details</a></li>
  <%end%>
</ul>
