<h2>Create a new Flight record for: <%=@user.username%></h2>

<form action="/flight_records" method="post">

  <table>
    <caption>Flight Record</caption>
    <tr>
      <th>Date</th>
      <th>Aircraft</th>
      <th>From</th>
      <th>To</th>
      <th>Landings</th>
      <th>Remarks</th>
      <th>Duration</th>
    </tr>

    <tr>
      <td><input  type="date" name="date" id="date" value=<%=Date.today%>></input></td>
      <td><input  type="text" name="aircraft_type" id="aircraft_type"></input></td>
      <td><input  type="text" name="from" id="from"></input></td>
      <td><input  type="text" name="to" id="to"></input></td>
      <td><input  type="integer" name="num_landings" id="num_landings"></input></td>
      <td><input  type="text" name="remarks" id="remarks"></input</td>
      <td><input  type="integer" name="duration" id="duration"></input></td>
    </tr>
  </table>

  <input type="submit" value="Create" id="submit">
</form>

<a href="/users/<%=@user.id%>">Cancel</a>
